/PirateerLite/Assets.xcassets/
!/PirateerLite/Assets.xcassets/gold_piece.imageset/
!/PirateerLite/Assets.xcassets/silver_piece.imageset/
!/PirateerLite/Assets.xcassets/rank_small_1.imageset/
!/PirateerLite/Assets.xcassets/abacus_small.imageset/
!/PirateerLite/Assets.xcassets/chest_small.imageset/
!/PirateerLite/Assets.xcassets/scrapyard_small.imageset/
!/PirateerLite/Assets.xcassets/shipyard_small.imageset/
!/PirateerLite/Assets.xcassets/fishermen.imageset/
!/PirateerLite/Assets.xcassets/cfa.imageset/
!/PirateerLite/Assets.xcassets/LaunchScreen.imageset/
!/PirateerLite/Assets.xcassets/tick.imageset/
!/PirateerLite/Assets.xcassets/frigate_portrait.imageset/
!/PirateerLite/Assets.xcassets/part_hull.imageset/
!/PirateerLite/Assets.xcassets/part_rigging.imageset/
!/PirateerLite/Assets.xcassets/part_cannons.imageset/
!/PirateerLite/Assets.xcassets/part_sails.imageset/
!/PirateerLite/Assets.xcassets/boats.spriteatlas/sloop_01.imageset/
!/PirateerLite/Assets.xcassets/boat_icon.imageset/
!/PirateerLite/Assets.xcassets/map_icon.imageset/
!/PirateerLite/Assets.xcassets/menu_icon.imageset/
!/PirateerLite/Assets.xcassets/cancel_plot_icon.imageset/
!/PirateerLite/Assets.xcassets/hold_icon.imageset/
!/PirateerLite/Assets.xcassets/plot_icon.imageset/
